.outer{
    .blue-bg {
    background: slateblue;
    height: 100vh;
    border-radius:0 100% 100%  100% ;
    margin-top: -15%;
    z-index: 9999999;
   
  
}
}
.margintop{
    margin-top: 50%;
 .blue{
     background: slateblue;
     color: #fff;
 }
}