


.container{
  .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
     
      .inputs{
          display: flex;
     
      }
     
      }
  
      .mat-column-strProductId {
       
        flex: 0 0 8% !important;
         word-wrap: break-word !important;
       white-space: unset !important;

        width: 28% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
         
        word-break: break-word;
          
  
        
       }
       .mat-column-position {
       
        flex: 0 0 10% !important;
        word-wrap: break-word !important;
        white-space: unset !important;
        width: 10% !important;
       }
       .mat-column-title {
       
        flex: 0 0 17% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    width: 10% !important;
         }
         .mat-column-status {
          flex: 0 0 17% !important;
          word-wrap: break-word !important;
          white-space: unset !important;
          width: 10% !important;
         }
       
         .mat-column-edit {
       
          flex: 0 0 9% !important;
          word-wrap: break-word !important;
          white-space: unset !important;
  
           width: 10% !important;
           overflow-wrap: break-word;
           word-wrap: break-word;
 
           word-break: break-word;
           
         }
        
        .mat-column-delete {
      
          flex: 0 0 5% !important;
          word-wrap: break-word !important;
          white-space: unset !important;
  
           width: 10% !important;
           overflow-wrap: break-word;
           word-wrap: break-word;
 
           word-break: break-word;
        }
        
         th.mat-sort-header-sorted {
          color: black;
        }
        .mat-icon{
          cursor: pointer;
      }
  
       .editicon{
        width: 20px;height: 20px;
       }

      
      .mat-row:not(:nth-child(4n+1)){
        background-color:#fff5f5;
      }
    
        mat-footer-row, mat-header-row, mat-row {
            border: none;
        }
        
      
        

        .mat-header-cell {
          color: rgb(0 0 0 / 1);
          font-size: 14px;
      }

}
