<div class="container">
    <div class="header">
      <div class="subhead"><h2>Product List</h2></div>
        <div class="inputs">
         
  
            <div>
              <mat-icon (click)="openDialogadd()" >  <img  style=" width: 20px;"    src="../../assets/plus-7-32.ico"></mat-icon>
            </div>
           
        </div>
    </div>
    <hr>

  <mat-sidenav-container class="example-container side-nav-two" >
      
      <mat-sidenav-content>
        <div class="container">
                <div >
                  
                    <mat-table #table [dataSource]="dataSource"   >
                        <ng-container matColumnDef="position"  class="distance">
                          <mat-header-cell *matHeaderCellDef  > No. </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="title">
                          <mat-header-cell *matHeaderCellDef > title </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="status">
                          <mat-header-cell *matHeaderCellDef > status </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
                        </ng-container>
                   
                        <ng-container matColumnDef="edit">
                          <md-header-cell *matHeaderCellDef>  </md-header-cell>
                          <mat-cell *matCellDef="let row"  >
                               <mat-icon (click)="openDialog(row)" aria-hidden="false" class="editicon" aria-label="Edit" >edit</mat-icon> 
                          </mat-cell>
                      </ng-container> 
                      <ng-container matColumnDef="delete">
                        <md-header-cell *matHeaderCellDef>  </md-header-cell>
                        <mat-cell *matCellDef="let row"  >                        
                             <mat-icon (click)="openDialogdel(row)" aria-hidden="false" class="deleteicon" aria-label="Delete" >delete</mat-icon> 
                        </mat-cell>
                    </ng-container> 
                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      </mat-table>
                  
           
              
                </div>
               
          </div>
      
            </mat-sidenav-content>
          </mat-sidenav-container>
        </div>
  
         
  
  
  
  
  